#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.blog-content {
  color: #888;
}

.blog-content > ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

.blog-content > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
}

.error {
  color: red;
}

nav, .dashboardHead{
  display: flex;
  flex-direction: row;
  gap:30px;
}

.newPostForm {
  display:flex;
  flex-direction: column;
  gap: 10px;
}

.newPostForm > div {
  display:flex;
  flex-direction: row;
  gap: 20px;
}

textarea {
  width: 400px;
}

.newPostForm > #title {
  height: 50px;
}

.newPostForm > #content {
  height: 400px;
}

.postDetails {
  width: 80%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, 75px) 1fr;
}